.bar-gauge .gauge {
  width: 200px;
  margin: 0 auto;
  text-align: left;
}

.bar-gauge .gauge-background {
  width: 200px;
  margin: 0 auto;
  display: inline;
}

.bar-gauge .gauge-indicator {
  height: 1em;
  background: var(--primary-color);
  border-radius: 12px 0 0 12px;
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  width: calc(var(--gauge-indicator-position) * 115px + 5px);
  display: inline-block;
}

.bar-gauge .gauge-label {
  font-size: 24px;
  color: var(--current-on-color);
  font-weight: bold;
  text-align: center;
  z-index: 3;
  display: inline;
  margin-left: 1em;
}
