:root {
  --current-color: var(--background-color);
  --current-on-color: var(--on-background-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.primary {
  --current-color: var(--primary-color);
  --current-on-color: var(--on-primary-color);
  --current-variant-color: var(--primary-variant-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.primary-variant {
  --current-color: var(--primary-variant-color);
  --current-on-color: var(--on-primary-color);
  --current-variant-color: var(--primary-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.secondary {
  --current-color: var(--secondary-color);
  --current-on-color: var(--on-secondary-color);
  --current-variant-color: var(--secondary-variant-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.secondary-variant {
  --current-color: var(--secondary-variant-color);
  --current-on-color: var(--on-secondary-color);
  --current-variant-color: var(--secondary-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

body {
  --current-color: var(--background-color);
  --current-on-color: var(--on-background-color);
  --current-variant-color: var(--background-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.background {
  --current-color: var(--background-color);
  --current-on-color: var(--on-background-color);
  --current-variant-color: var(--background-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.surface {
  --current-color: var(--surface-color);
  --current-on-color: var(--on-surface-color);
  --current-variant-color: var(--surface-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.error {
  --current-color: var(--error-color);
  --current-on-color: var(--on-error-color);
  --current-variant-color: var(--error-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.warning {
  --current-color: var(--warning-color);
  --current-on-color: var(--on-warning-color);
  --current-variant-color: var(--warning-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.success {
  --current-color: var(--success-color);
  --current-on-color: var(--on-success-color);
  --current-variant-color: var(--success-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-variant-color);
}

button {
  background-color: var(--current-color);
}

button:hover {
  border-color: var(--current-on-color);
  background-color: var(--current-variant-color);
}

th {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
}

tr {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}

tr button {
  --current-color: var(--primary-color);
  --current-variant-color: var(--primary-variant-color);
  --current-on-color: var(--on-primary-color);
}

/* Gauge styles */
.one-eighty-speedo {
  --color-zero: var(--error-color);
  --color-zero-point-five: var(--warning-color);
  --color-one: var(--success-color);
}

/* Button bar styles */
.button-bar {
  display: flex;
  justify-content: flex-end;
  gap: 0px;
}

.button-bar button {
  cursor: pointer;
  height: 44px;
  padding: 10px;
  margin: 0px;
}

.button-bar button {
  border-left: 1px solid var(--current-on-color);
  border-radius: 0;
}

.button-bar button:first-child {
  border-left: 0px;
  cursor: default;
  border-radius: 24px 0 0 24px;
}

.button-bar button:last-child {
  border-left: 1px solid var(--current-on-color);
  border-radius: 0 24px 24px 0;
}

.button-bar button {
  --current-color: var(--primary-color);
  --current-on-color: var(--on-primary-color);
  --current-variant-color: var(--primary-variant-color);
}

.button-bar button.selected {
  --current-color: var(--secondary-color);
  --current-on-color: var(--on-secondary-color);
  --current-variant-color: var(--secondary-variant-color);
}

.timing-visualization {
  --current-color: var(--primary-color);
  --current-on-color: var(--on-primary-color);
  --current-variant-color: var(--primary-variant-color);
}

.code-listing,
header,
footer {
  --current-color: var(--surface-color);
  --current-on-color: var(--on-surface-color);
  --current-variant-color: var(--surface-color);

  color: var(--current-on-color);
  background-color: var(--current-color);
}

/* Gradient examples */
.gradient-examples-row-1 {
  --current-color: var(--background-color);
  --current-on-color: var(--on-background-color);
  --current-variant-color: var(--background-color);

  color: var(--current-on-color);
  background-color: var(--current-color);
}

.gradient-examples-row-2 {
  --current-color: var(--primary-color);
  --current-on-color: var(--on-primary-color);
  --current-variant-color: var(--primary-variant-color);

  color: var(--current-on-color);
  background-color: var(--current-color);
}

.gradient-examples-row-3 {
  --current-color: var(--secondary-color);
  --current-on-color: var(--on-secondary-color);
  --current-variant-color: var(--secondary-variant-color);

  color: var(--current-on-color);
  background-color: var(--current-color);
}

.gradient-examples {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(5, 1fr);
  margin: auto;
  max-height: 250px;
  max-width: 800px;
  padding: 1rem;
}

@media (min-width: 600px) {
  .gradient-examples {
    grid-template-columns: repeat(5, 1fr);
  }
}

.gradient-example {
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 0 15px hsla(0deg, 0%, 0%, 0.5);
  color: var(--current-on-color);
  font-size: 1.25rem;
  font-weight: 900;
  display: flex;
  height: 250px;
  justify-content: center;
  text-shadow: 0 2px 3px hsla(0deg, 0%, 0%, 0.25);
}

.linear-gradient-current {
  background-image: linear-gradient(
    var(--current-color),
    var(--current-variant-color)
  );
}

.linear-gradient-current-on-bottom {
  background-image: linear-gradient(
    var(--current-color),
    var(--current-variant-color),
    var(--current-on-color)
  );
}

.linear-gradient-current-on-center {
  background-image: linear-gradient(
    var(--current-on-color),
    var(--current-color),
    var(--current-variant-color),
    var(--current-on-color)
  );
}

.radial-gradient-current {
  background-image: radial-gradient(
    var(--current-color),
    var(--current-variant-color)
  );
}

.conic-gradient-current {
  background-image: conic-gradient(
    var(--current-color),
    var(--current-variant-color),
    var(--current-on-color),
    var(--current-color)
  );
}

/* Icon styles */
svg.icon {
  fill: var(--current-color);
  stroke: var(--current-on-color);
}

svg.icon circle,
svg.icon line,
svg.icon path,
svg.icon text {
  stroke: var(--current-on-color);
}

svg.icon rect {
  stroke: none;
  fill: var(--current-on-color);
}
