:root {
  --current-color: var(--background-color);
  --current-on-color: var(--on-background-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.primary {
  --current-color: var(--primary-color);
  --current-on-color: var(--on-primary-color);
  --current-variant-color: var(--primary-variant-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.primary-variant {
  --current-color: var(--primary-variant-color);
  --current-on-color: var(--on-primary-color);
  --current-variant-color: var(--primary-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.secondary {
  --current-color: var(--secondary-color);
  --current-on-color: var(--on-secondary-color);
  --current-variant-color: var(--secondary-variant-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.secondary-variant {
  --current-color: var(--secondary-variant-color);
  --current-on-color: var(--on-secondary-color);
  --current-variant-color: var(--secondary-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

body {
  --current-color: var(--background-color);
  --current-on-color: var(--on-background-color);
  --current-variant-color: var(--background-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.background {
  --current-color: var(--background-color);
  --current-on-color: var(--on-background-color);
  --current-variant-color: var(--background-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.surface {
  --current-color: var(--surface-color);
  --current-on-color: var(--on-surface-color);
  --current-variant-color: var(--surface-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.error {
  --current-color: var(--error-color);
  --current-on-color: var(--on-error-color);
  --current-variant-color: var(--error-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.warning {
  --current-color: var(--warning-color);
  --current-on-color: var(--on-warning-color);
  --current-variant-color: var(--warning-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

.success {
  --current-color: var(--success-color);
  --current-on-color: var(--on-success-color);
  --current-variant-color: var(--success-color);

  background-color: var(--current-color);
  color: var(--current-on-color);
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-variant-color);
}

button {
  background-color: var(--current-color);
}
button:hover {
  border-color: var(--current-on-color);
  background-color: var(--current-variant-color);
}

th {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
}

tr {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}
