.one-eighty-speedo {
  width: 200px;
  height: 120px;
  margin: 0 auto;
  position: relative;

  --color-zero: limegreen;
  --color-zero-point-five: yellow;
  --color-one: red;
  --indicator-offset: -180deg;
  --background-offset: 270deg;
  --background-sweep: 180deg;
}

.one-eighty-speedo .gauge-background {
  width: 200px;
  height: 120px;
  margin: 0 auto;
  background:
        /* Tick marks every 45deg */
    conic-gradient(
      from var(--background-offset) at center 100px,
      black 0deg 1deg,
      transparent 1deg 44deg,
      black 44deg 46deg,
      transparent 46deg 89deg,
      black 90deg,
      transparent 91deg 134deg,
      black 134deg 136deg,
      transparent 136deg 179deg,
      black 179deg 181deg,
      transparent 181deg 224deg,
      black 224deg 226deg,
      transparent 226deg 269deg,
      black 269deg 271deg,
      transparent 271deg 314deg,
      black 314deg 316deg,
      transparent 316deg 359deg,
      black 359deg 360deg
    ),
    conic-gradient(
      from var(--background-offset) at 100px 100px,
      var(--color-zero),
      var(--color-zero-point-five),
      var(--color-one) var(--background-sweep),
      transparent var(--background-sweep) 360deg
    );
  mask-image:
    conic-gradient(
      from var(--background-offset) at center 100px,
      white 0 var(--background-sweep),
      transparent var(--background-sweep) 360deg
    ),
    radial-gradient(
      ellipse at center 100px,
      transparent 0 60px,
      #fff 61px 65px,
      transparent 66px 100%
    );
  mask-composite: intersect;
}

.one-eighty-speedo .gauge-indicator {
  position: absolute;
  left: 100px;
  top: 100px;
  transform: translate(-50%, -50%)
    rotate(
      calc(
        (var(--gauge-indicator-position) * var(--background-sweep)) +
          var(--indicator-offset)
      )
    );
  transition: transform 0.7s cubic-bezier(0.4, 2.3, 0.3, 1);
  font-size: 40px;
  color: var(--primary-color);
  z-index: 2;
  pointer-events: none;
}

.one-eighty-speedo .gauge-indicator::before {
  content: "➤";
}

.one-eighty-speedo .gauge-label {
  position: absolute;
  left: 100px;
  top: 60px;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: var(--current-on-color);
  font-weight: bold;
  text-align: center;
  z-index: 3;
}
