#root {
  /* max-width: 1280px; */
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Added styles for top-right-nav to position it in the top-right corner */
.top-right-nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
