header nav {
  display: flex;
  align-items: center;
  padding: 0.1rem;
  border-bottom: 1px solid #000;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

header nav .spacer {
  flex-grow: 1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  animation: logo-spin infinite 20s linear;
}

.logo::before {
  content: "";
  display: inline-block;
  height: 48px;
  width: 48px;
  background-image: url("/themes/react-light/react-light-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header nav .back-link span {
  display: none;
}

body {
  margin: 0;
  text-align: center;
}

main section {
  background-image: conic-gradient(
    from 90deg at -10% 100%,
    #bcc1cd 0deg,
    #bcc1cd 90deg,
    #fff 1turn
  );
}
